#modal-field-wrapper
  %h1.title Modal-Window

  .modal-action
    = link_to "Click on here!", "#", class: "modal-action__btn"

#modal-wrapper
  #modal
    #modal-window
      #modal-window__title 
        %h3 Title
      #modal-window__desc 
        %p Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone!
      