#modal-field-wrapper
  %h1.title ModalWindow

  .modal-action
    = link_to "Signup Now!", "#", class: "modal-action__btn"

#modal-wrapper
  #modal
    #modal-window
      #modal-window__title 
        %h3 Signup
      #modal-window__desc 
        %p Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone! Hello everyone!
      